/********/
/*Global*/

body, html {
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
    background-color:lightblue;
    cursor:crosshair;
}

p{
    width:100%;
    height:20px;
}

input{
    border:none;
    outline:none;
}

button{
    background-color:white;
    border:none;
    border-radius:10px;
    height:56px;
    width:56px;
    outline:none;
}

button:hover{
    opacity:0.7;
}


/***************/
/*Layer 1 图层1*/

.Front, .Front form{
    display:flex;
    flex-direction:row-reverse;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.Front *{
    z-index:1;
}

.Transform{
    transform:rotate(90deg);
    transform-origin:0% 0%;
}

.Line{
    height:8px;
    width:400px;
    border-radius:0px;
}

.Right{

}

.Right  input{
    width:400px;
    height:64px;
}

.Right *{
}

/*********/
/*Layer 0*/

.box {
    width:100%;
    height:100%;
    /* 开启盒布局 */
    display:-webkit-box;
    display:-moz-box;
    display:box;	
    /* 水平居中 */
    -webkit-box-pack:center;
    -moz-box-pack:center;
    box-pack:center;
    /* 垂直居中 */
    -webkit-box-align:center;
    -moz-box-align:center;
    box-align:center;
}

.Global img{
    width:1500px;
    position:absolute;
    top:-125px;
    left:-120px;
    z-index:0;
}


.Disable{
    
}

